.section .same-post .tools
{
	width:300px;
}

.section .tools
{
	width:300px;
}

li.dl
{
	float: right;
}

#content-left .section h3, #content-left #previous mentions .section h3
{
	padding-right:150px;
}

.spacer {
	width: 27px; 
	margin-top: -1px;
}

.arrow {
	border-spacing: 0px;
	float: right;
}

.arrow:hover .rect-arrow{
	background: #0063DC;
}

.arrow:hover .tri-arrow{
	border-top: 10px solid #0063DC;
}

.rect-arrow {
	background: #494949;
	width: 8px;
	height: 10px;
	margin-left: 5px;
}

table {
	border-collapse: separate;
}

.tri-arrow{	
	width: 0;
	height: 0;	
	border-left: 9px solid transparent;	
	border-right: 9px solid transparent;	
	border-top: 10px solid #494949;
}

#DownloadSelectAll,
#DownloadSelectNone,
#DownloadAllSongsButton {
    margin: 0 5px;
    font-weight: bold;
    cursor: pointer;
}

#DownloadSelectAll:hover,
#DownloadSelectNone:hover,
#DownloadAllSongsButton:hover {
    text-decoration: underline;
}

.DownloadSongButton input {
    margin-top: 6px;
    position: relative;
    top: 6px;
}

#DownloadAllSection {
    font-size: 14px;
    float: right;
}